*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.background-color{
    background-color: #ADD8E7;
    padding: 20px 0px

}

.content{

    width: 1180px;
    height: 30px;
    margin: 0 auto;
    display: flex;
}

.text-container-1{
    width: 20%;
    border: 2px dashed black;
    height: 30px;
    text-align: left;
    background-color: #DAA420 ;

}
.text-container-2{
    width: 60%;
    border: 2px dashed black;
    height: 30px;
    text-align: center;
    background-color: #DAA420;
    

}

.text-container-3{
    width: 20%;
    border: 2px dashed black;
    height: 30px;
    text-align: right;
    background-color: #DAA420;
}

.align{
    padding-top: 5px;
}

.background-color-2{
    background-color: #00008B;
}

.container-2{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    height: 250px;
    }

.square-1{
    width: 50%;
    border: 2px dashed black;
    height: 200px;
    margin: 0 auto;
    background-color: #EE82ED ;
    align-self: center;
}